<template>
<div>
    <n-button class="nav-link" type="default" @click.native="modals.classic = true"><i class="fas fa-sign-in-alt"/>Regisztráció/Bejelentkezés</n-button>
    <modal :show.sync="modals.classic" headerClasses="justify-content-center" modalClasses="registerModal">
      <login-register-tabs slot="base-content"/>
    </modal>
</div>
</template>
<script>
import { Button, Modal, FormGroupInput } from '@/components';
import { Popover, Tooltip } from 'element-ui';
import LoginRegisterTabs from './LoginRegisterTabs';
export default {
  name: 'login-register-tabs-button',
  components: {
    Modal,
    [LoginRegisterTabs.name]:LoginRegisterTabs,
    [Button.name]: Button,
    [Popover.name]: Popover,
    [Tooltip.name]: Tooltip
  },
  data() {
    return {
      modals: {
        classic: false
      }
    };
  }
};
</script>
<style lang="scss">
.tab-card {
    width: 20rem !important;
    height: 30rem !important;
}
.registerModal{
  position: absolute;
  top:4rem;
  background-color: transparent !important;
  box-shadow: none !important;
  max-width:20rem !important;
}
</style>