<template>
    <card class="card-signup tab-card" header-classes="text-center" color="orange">
        <template slot="header">
          <h3 class="card-title title-up"></h3>
        </template>
      <fg-input class="no-border" placeholder="E-mail" addon-left-icon="now-ui-icons ui-1_email-85" v-model="email"/>
      <fg-input class="no-border" type="password" placeholder="*******" addon-left-icon="now-ui-icons objects_key-25" v-model="password"/>

      <template slot="raw-content">
        <div class="text-center">
          <n-button type="info" size="lg" block>Tovább</n-button>
        </div>
        <div class="text-center">
          <h6>
            <a href="#pablo" class="link footer-link">Elfelejtett jelszó</a>
          </h6>
        </div>
      </template>
    </card>
</template>
<script>
import { Card, Button, FormGroupInput } from '@/components';
export default {
  name: 'login-page',
  bodyClass: 'login-page',
  components: {
    Card,
    [Button.name]: Button,
    [FormGroupInput.name]: FormGroupInput,
  },
   data() {
    return {
    email : "",
    password : ""
    }
  }
};
</script>
<style></style>
