<template>
        <div class="ml-auto mr-auto tab-container">
             <tabs centered type="neutral" tab-nav-wrapper-classes="tabs-wrapper">
              <tab-pane>
              <template slot="label">
                <i class="fas fa-sign-in-alt"/>
                Bejelentkezés
              </template>
              <login-page/>
            </tab-pane>
            <tab-pane>
              <template slot="label">
                <i class="fas fa-pencil-alt"/>
                Regisztráció
              </template>
              <register-form/>
            </tab-pane>
            </tabs>
      </div>
</template>
<script>
import { Card, Tabs, TabPane } from '@/components';
import Login from './Login';
import SignupForm from './SignupForm';
export default {
  name: 'login-register-tabs',
  components: {
    [Login.name]:Login,
    [SignupForm.name]: SignupForm,
    Card,
    Tabs,
    TabPane
  }
};
</script>
<style>
</style>
