<template>
      <card class="card-signup tab-card" header-classes="text-center" color="orange">
        <template slot="header">
          <a href="#pablo" class="btn btn-neutral btn-facebook btn-icon btn btn-round">
            <i class="fab fa-facebook-square"/>
          </a>  
        </template>
        <template>
          <fg-input class="no-border" placeholder="Vezetéknév..." addon-left-icon="now-ui-icons users_circle-08" v-model="firstName"/>
          <fg-input class="no-border" placeholder="Keresztnév..." addon-left-icon="now-ui-icons text_caps-small" v-model="lastName"/>
          <fg-input class="no-border" placeholder="E-mail" addon-left-icon="now-ui-icons ui-1_email-85" v-model="email"/>
          <fg-input class="no-border" type="password" placeholder="*******" addon-left-icon="now-ui-icons objects_key-25" v-model="password"/>
          <n-button type="info" block size="lg">Kezdés</n-button>
        </template>
      </card>
</template>
<script>
import { Card, FormGroupInput, Button } from '@/components';
export default {
  name : 'register-form',
  components: {
    Card,
    [Button.name]: Button,
    [FormGroupInput.name]: FormGroupInput
  },
  data() {
    return {
    firstName : "",
    lastName : "",
    email : "",
    password : ""
    }
  }
};
</script>
<style>
.btn:not(.btn-icon) .now-ui-icons, .navbar .navbar-nav > a.btn:not(.btn-icon) .now-ui-icons {
    top: 0px !important;
}
</style>