<template>
  <div class="container">
  </div>
</template>
<script>
// import { Button } from '@/components';
export default {
  name : 'name',
    props: {
  },
  components: {
    [Button.name]: Button
  },
  data() {
    return {
    }
  }
};
</script>
<style>
</style>