<template>
  <footer
    class="footer"
    :class="{ [`footer-${type}`]: type }"
    :data-background-color="backgroundColor"
  >
    <div class="container">
      <nav>
        <ul>
          <li>
            <a href="/">
              <i class="fas fa-info"></i> Rólunk
            </a>
          </li>
          <li>
            <a href="/">
              <i class="fas fa-chart-line"></i> Sikerességi mutatók
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip noreferrer" title="Kövess minket a Facebookon!" data-placement="bottom" href="https://www.facebook.com/Drivalo-100574611484727" target="_blank" >
              <i class="fab fa-facebook-square"/>
              <p class="d-lg-none d-xl-none">Facebook</p>
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright">
        &copy; {{ year }}
      </div>
    </div>
  </footer>
</template>
<script>
export default {
  props: {
    backgroundColor: String,
    type: String
  },
  data() {
    return {
      year: new Date().getFullYear()
    };
  }
};
</script>
<style></style>
