<template>
  <navbar position="fixed" type="primary" :transparent="transparent" :color-on-scroll="colorOnScroll" menu-classes="ml-auto">
    <template>
      <router-link v-popover:popover1 class="navbar-brand" to="/"><img src="img/drivalo_logo_1_min.svg" alt="D" width="30" height="30"/>rivalo <sup id="version"/></router-link>
    </template>
    <template slot="navbar-menu">
      <li class="nav-item">
        <nav-button to="/" class="nav-link">
          <i class="fas fa-home"/>
          <p>Kezdőlap</p>
        </nav-button>
      </li>
      <li class="nav-item">
        <nav-button to="/instructors" class="nav-link">
          <i class="fas fa-users"/>
          <p>Oktatóink</p>
        </nav-button>
      </li>
      <drop-down tag="li" title=" E-learning" class="nav-item" icon="fas fa-laptop">
        <nav-link to="/highway-code" class="dropdown-item">
          <i class="fas fa-road"/>
          <p>KRESZ</p>
        </nav-link>
        <nav-link to="/firstAid" class="dropdown-item">
          <i class="fas fa-plus-square"/>
          <p>Elsősegély</p>
        </nav-link>
      </drop-down>
      <li class="nav-item">
        <nav-button to="/profile" class="nav-link">
          <i class="fas fa-user-alt" />
          <p>Profil</p>
        </nav-button>
      </li>
      <li class="nav-item">
        <nav-button to="/gyik" class="nav-link">
          <i class="fab fa-medapps"/>
          <p>GY.I.K.</p>
        </nav-button>
      </li>
    </template>
  </navbar>
</template>
<script>
import { DropDown, NavbarToggleButton, Navbar, NavLink, NavButton } from '@/components';
import { Popover } from 'element-ui';
export default {
  name: 'main-navbar',
  props: {
    transparent: Boolean,
    colorOnScroll: Number
  },
  components: {
    DropDown,
    NavButton,
    Navbar,
    NavbarToggleButton,
    NavLink,
    [Popover.name]: Popover
  }
};
</script>
<style scoped>
.nav-link{
  color:white !important;
}
</style>