<template>
  <div class="container">
    <card class="instructor-card" noFooterLine>
      <div class="row justify-content-center">
        <div class="col-3">
          <a :href="instructor.lastName">
            <img class="img-fluid rounded" :src="'img/'+instructor.imgUrl" alt="instructor" />
          </a>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-auto text-left">
              <h5>{{instructor.title}} {{instructor.firstName}} {{instructor.lastName}}</h5>
            </div>
            <div class="col-auto text-left">
              <i class="fas fa-map-marker-alt" /><i> {{instructor.city}} {{instructor.district}}</i>
            </div>
            <div class="col-12 text-right">
              <a @click.prevent="modals.ratings = true" href="" style="color: black !important;">
                {{instructor.rating}} 
                <span v-for="num in roundedRating" :key="num + 'b'" class="y-star">★</span>
                <span v-for="num in (5-roundedRating)" :key="num + 'w'">☆</span>
                ({{instructor.rationCount}})
              </a>
            </div>
            <div class="w-100" />
            <div class="col text-left align-self-start">
              <span>{{instructor.vehicle.type}}</span>
              <div class="col">
                <span>{{instructor.vehicle.year}}</span><br/>
                <span>{{instructor.vehicle.shifterType}}</span><br/>
                <span>{{instructor.vehicle.fuelType}}</span>
              </div>
            </div>
            <div class="col align-self-end text-right">
              <badge type="info">{{instructor.hourlyRate}} HUF/Óra</badge>
            </div>
          </div>
        </div>
      </div>
    </card>
    <modal :show.sync="modals.ratings" headerClasses="justify-content-center" modalClasses="rating-dialog">
      <rating-card slot="header"/>
      <template slot="footer">
        <div class="col-8"/>
        <div class="col-3">
          <n-button type="danger" @click.native="modals.ratings = false">Bezár</n-button>
        </div>
      </template>
    </modal>
  </div>
</template>
<script>
import { Button, Badge, Card, Modal } from '@/components';
import RatingCard from './RatingCard';
export default {
  name : 'instructor-card',
    props: {
      instructor : Object
  },
  components: {
    [Button.name]: Button,
    [Badge.name]: Badge,
    [Card.name]: Card,
    [RatingCard.name]: RatingCard,
    [Modal.name]: Modal
  },
  data() {
    return {
      modals: {
            ratings: false
          }
    }
  },
  computed: {
    roundedRating : function (){
      return Math.round(this.instructor.rating);
    }
  }
};
</script>
<style>
.instructor-card{
  border-style: solid !important;
  border-width: 1px !important;
  background-color: #ececec !important;
}
.close{
  color:red !important;
  z-index: 10;
}
</style> 