<template>
  <div class="rating-container text-left">
    <div class="rating-body">
        <h5>Tanulók értékelései:</h5>
        <card class="rating-card" v-for="(rating, index) in displayedRatings" :key="index">
          <div class="row">
            <div class="col-2" style="padding:0px;">
              <img class="img-fluid rounded-circle" src="img/instructor.jpg" alt="" />
            </div>
            <div class="col-10">
              <div class="row">
                <div class="col-6 text-left">
                  {{rating.user}} értékelése:
                </div>
                <div class="col-6 text-right stars">
                  <span v-for="num in (rating.rating)" :key="num + 'b'" class="y-star">★</span>
                  <span v-for="num in (5-rating.rating)" :key="num + 'w'">☆</span>
                </div>
                <div class="col-9 text-left comment">
                  <q>{{rating.comment}}</q>
                </div>
              </div>
            </div>
          </div>
        </card>
    </div>
    <n-pagination class="justify-content-center" :pageCount="pages.length" :perPage="perPage" :total="ratings.length" v-model="page"> 
      <span slot="prev">&laquo;</span>
      <span slot="next">&raquo;</span>
    </n-pagination>
  </div>
</template>
<script>
import { Button, Card, Pagination } from '@/components';
export default {
  name : 'rating-card',
    props: {
  },
  components: {
    [Button.name]: Button,
    [Card.name]: Card,
    [Pagination.name]: Pagination,
  },
  data() {
    return {
      ratings: [],
      pages:[],
      page:0,
      perPage: 3,
    }
  },
  methods:{
		setPages (ratings) {
      this.pages = [];
      let numberOfPages = Math.ceil(ratings.length / this.perPage);
			for (let index = 1; index <= numberOfPages; index++) {
				this.pages.push(index);
			}
		},
		paginate (ratings) {
			let from = (this.page - 1) * this.perPage;
			let to = this.page * this.perPage;
			return  ratings.slice(from, to);
    }
  },
  computed: {
    displayedRatings () {
        this.setPages(this.ratings);
        return this.paginate(this.ratings);
      }
    },
  created(){
    fetch("https://api.myjson.com/bins/x79g4")
      .then(response => response.json())
      .then(response => {
        this.ratings = response;
      });
    }
  };
</script>
<style>
.rating-container{
  padding-top: 2rem;
}

.rating-body{
  min-height: 30rem;
}

.rating-card{
  box-shadow: 5px 10px 5px #aaaaaa !important;
  background-color: #b6b6b62a !important;
}
.comment{
  font-size: 0.8rem;
}

.y-star{
  color: rgb(202, 202, 60);
}
</style>