.answers{
    border-radius: 0.5rem;
    text-align:left !important;
}

.question{
    text-align:center !important;
    font-size: 1.5em;
    padding-bottom: 50px;
}

.answers li {
    width: 100%;
    list-style: none;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.054);
}

.answer{
    padding: 1rem!important;
    border: thin;
}

.form-check-input{
    width: 20px;
    height: 20px;
    margin-top: auto;
    margin-left: -0.5rem;
}

.aswers ul{
    margin:auto;
}

.figure{
    max-height: 250px;
}

.send-answer{
width: 100%;
margin-left: 75%;
}

.quiz .timer{
    margin-left:auto;
    margin-right:5%;
    padding-bottom: 30px;
}

.quiz-progress{
    width: 100%;
}

.disabled_question{
    pointer-events: none;
    opacity: 0.4;
}

.good_answer{
    color: rgb(2, 164, 2);
}

.bad_answer{
    color: red;
}