<template>
  <div class="starter-page">
    <div class="section text-center">
      <h3>E-learning</h3>
    </div>
  </div>
</template>
<script>
export default {
  name: 'e-learning'
};
</script>
<style>
</style>
