<template>
  <div class="starter-page">
    <div class="text-center">
        <quiz class="mx-auto" :quizData="api"/>
    </div>
  </div>
</template>
<script>
import Quiz from './components/quiz/Quiz';

export default {
  name: 'firstAid',
  components: {
    [Quiz.name] : Quiz
  },
  data() {
    return {
      api : "https://api.myjson.com/bins/1e1spa"
    }
  } 
};
</script>
<style>
</style>
