<template>
  <div class="starter-page gyik-page">
    <div class="row justify-content-center p-3">
      <div class="col-11 gyik text-center">
        <h3>Gyakran ismételt kérdések</h3>
        <collapse :multiple-active="false">
          <collapse-item v-for="(g, index) in gyik" :key="g.id" :title="questionTitle(g.Question, index)" :name="index">
            <div>
              <q>{{g.Answer}}</q>
            </div>
          </collapse-item>
        </collapse>
      </div>
    </div>
  </div>
</template>
<script>
import { Collapse, CollapseItem } from '@/components'

export default {
  name: 'gyik',
  components:{
    Collapse,
    CollapseItem
  },
  data () {
    return{
      gyik:[]
    }
  },
  methods:{
    questionTitle(question, index){
      return index + 1 + "." + " " + question;
    }
  },
  created(){
    fetch("https://api.myjson.com/bins/s5gb4")
    .then(res => res.json())
    .then(res =>
    { 
      this.gyik = res;
    });
  }
};
</script>
<style>
.gyik-page{
  background-color: rgba(3, 64, 90);
}

.gyik{
  background-color: rgb(5, 99, 139);
  padding:3rem;
  border-radius: 0.3rem;
  color:white;
}
</style>
