<template>
  <div class="starter-page">
    <div class="text-center">
      <quiz class="mx-auto" :quizData="api"/>
    </div>
  </div>
</template>
<script>
import Quiz from './components/quiz/Quiz';
export default {
  name: 'highway-code',
  components:{
    [Quiz.name]:Quiz
  },
  data() {
    return {
      api : "https://api.myjson.com/bins/sjmby"
    }
  } 
};
</script>
<style>
</style>