<template>
  <div class="starter-page">
    <div class="main">
    </div>
    <div class="reg">
      {{users}}
      <login-register-tabs-button/>
    </div>
  </div>
</template>
<script>
import { Parallax } from '@/components';
import LoginRegisterTabsButton from './components/LoginRegisterTabsButton';
export default {
  name: 'index',
  bodyClass: 'index-page',
  components: {
    Parallax,
    [LoginRegisterTabsButton.name]:LoginRegisterTabsButton
  },
   data() {
    return {
      users:[],
    }
  },
  created() {
    fetch("https://localhost:44383/api/users")
    .then(res => res.json())
    .then(res => {
      this.users = res;
    })
  }
};
</script>
<style>
  .reg{
    z-index: 1;
    position: fixed;
    right: 1rem;
    top:5rem;
  }
</style>
