<template>
  <div class="starter-page">
      <div class="search-container">
      <card class="search">
        <h5>Oktató keresése</h5>
        <fg-input class="col"
                  placeholder="Város, név.."
                  addon-right-icon="now-ui-icons ui-1_zoom-bold"
                  v-model="searchTerm"
                  inputClasses="search-input">
        </fg-input>
      <collapse :animation-duration="500">
        <collapse-item title="Részletes keresés" name="1">
        <div class="row justify-content-center">
            <div class="col-auto">
              Város
            <select class="custom-select" v-model="selectedCity">
              <option value="" selected>Összes</option>
              <option v-for="city in cities" :key="city" :value="city">{{ city }}</option>
            </select>
          </div>
          <div class="col-auto">
            Kategória
            <select class="custom-select" v-model="selectedCategory">
              <option value="" selected>Összes</option>
              <option v-for="cat in categories" :key="cat" :value="cat">{{ cat }}</option>
            </select>
          </div>
        </div>  
        </collapse-item>
      </collapse>
      </card>
      <n-pagination class="justify-content-center" :pageCount="pages.length" :perPage="perPage" :total="filteredInstructors.length" v-model="page" v-show="isLoaded && filteredInstructors.length > 0" prevItemClasses="pagination-d" nextItemClasses="pagination-d" itemClasses="pagination-d"> 
          <span slot="prev">&laquo;</span>
          <span slot="next">&raquo;</span>
      </n-pagination>
      <div class="row justify-content-center">
        <select class="custom-select perPage" v-model="perPage">
          <option value="5">5</option>
          <option v-for="num in 5" :key="num" :value="num*10">{{num * 10}}</option>
        </select>
      </div>
      <div id="top" class="text-center">
        <instructor-card v-for="(instructor, index) in displayedInstructors" :key="index" :instructor="instructor" v-show="isLoaded"/>
        <div class="text-center m-5" v-show="!isLoaded">
          <alert type="warning">Betöltés...</alert>
        </div>
        <div class="text-center m-5" v-show="isLoaded && filteredInstructors.length == 0">
          <alert type="danger">Nem található a keresésnek megfelelő eredmény.</alert>
        </div>
        <n-pagination class="justify-content-center" :pageCount="pages.length" :perPage="perPage" :total="filteredInstructors.length" v-model="page" v-show="isLoaded" prevItemClasses="pagination-d" nextItemClasses="pagination-d" itemClasses="pagination-d"> 
          <span slot="prev">&laquo;</span>
          <span slot="next">&raquo;</span>
        </n-pagination>
      </div>
    </div>
  </div>
</template>
<script>
import { Pagination, FormGroupInput, Card, Button, Badge, Collapse, CollapseItem, Alert } from '@/components';
import InstructorCard from './components/instructorCard/InstructorCard';
export default {
  name: 'instructors',
  components:{
    [InstructorCard.name] : InstructorCard,
    [Pagination.name] : Pagination,
    [FormGroupInput.name] : FormGroupInput,
    [Card.name] : Card,
    [Button.name] : Button,
    [Badge.name] : Badge,
    [Collapse.name] : Collapse,
    [CollapseItem.name] : CollapseItem,
    [Alert.name] : Alert
  },
  data() {
    return {
      instructors:[],
      filteredInstructors:[],
			page: 1,
			perPage: 10,
      pages: [],
      searchTerm: "",
      isLoaded: false,
      categories: [],
      selectedCategory: "",
      selectedCity: "",
      cities: []
    }
  },
  methods:{
		setPages (instructors) {
      this.filteredInstructors = instructors;
      this.pages = [];
      let numberOfPages = Math.ceil(instructors.length / this.perPage);
			for (let index = 1; index <= numberOfPages; index++) {
				this.pages.push(index);
			}
		},
		paginate (instructors) {
			let from = (this.page - 1) * this.perPage;
			let to = this.page * this.perPage;
			return  instructors.slice(from, to);
    },
    filter (instructor){
      if(!this.searchTerm){
        return true;
      }

      var split = this.searchTerm.split(" ");
      var result = true;
      for(var word of split){
        result = result && (JSON.stringify(instructor)).match(new RegExp(word,"i"));
        if(!result) return false;
      }

      return result;
    }
  },
  computed: {
		displayedInstructors () {
      let filtered = this.instructors;
      if(this.selectedCategory){
        filtered = filtered.filter(i => i.category == this.selectedCategory)
      }
      if(this.selectedCity){
        filtered = filtered.filter(i => i.city == this.selectedCity)
      }

      filtered = filtered.filter(this.filter);
      this.setPages(filtered)
			return this.paginate(filtered);
    }
	},
	watch: {
		instructors () {
			this.setPages(this.instructors);
    },
    page (){
      window.scrollTo(0, this.$el["top"]);
    }
	},
  created() {
    fetch("https://api.myjson.com/bins/b1qq0")
    .then(response => response.json())
    .then(response => {
      this.instructors = response;
      this.isLoaded = true;
      this.cities = new Set(response.map(i => i.city));
    });
    fetch("https://api.myjson.com/bins/fkj50")
    .then(response => response.json())
    .then(response => {
      this.categories = response;
    });
  }
};
</script>
<style>

.pagination-d > a{
  color:rgb(255, 255, 255) !important;
}

.pagination .page-item.pagination-d.active .page-link{
  background-color: rgb(251, 132, 5) !important;
}
.pagination .page-item.pagination-d .page-link{
  background-color: #0078A8 !important;
}
.search {
  text-align: center;
  color:white;
}
.search-container{
  padding-top:1rem;
}
.search-container > .card{
background-color: rgba(3, 64, 90);
}

ul.pagination{
  margin:0;
  padding:1rem;
}

.search > .card-body{
  width:85%;
  margin: auto !important;
  background-color: #0078A8 !important;
  border-radius: 0.25rem;
}

.search-input {
  background-color: white !important;
}

.search-container > .section{
  background-color: rgba(3, 64, 90) !important; 
}
.input-group-append {
  margin-left: 0px;
}
.input-group > .form-control, .input-group > .form-control-plaintext, .input-group > .custom-select, .input-group > .custom-file{
  position: unset !important;
}

div > a{
  color:white !important;
}

select {
   text-align-last: center;
   text-align: center;
   -ms-text-align-last: center;
   -moz-text-align-last: center;
}

input{
   text-align:right;
}

.perPage{
  max-width: 4rem;
  align-content: center;
}

</style>
