<template>
  <div class="starter-page">
    <div class="text-center">
      <h3>Create your next awesome website</h3>
    </div>
  </div>
</template>
<script>
import { Button } from '@/components';

export default {
  name: 'starter',
    props:{
  },
  components:{
  },
  data (){
    return {
    }
  },
  computed:{
  },
  methods:{
  }
};
</script>
<style>
</style>
