<template>
  <component
    :is="componentType"
    :to="to"
    class="dropdown-item"
  >
    <slot></slot>
  </component>
</template>
<script>
export default {
  name: 'nav-button',
  props: {
    to: {
      type: [String, Object],
      default: undefined
    }
  },
  computed: {
    componentType() {
      return this.to ? 'router-link' : 'a';
    }
  }
};
</script>
<style></style>
