<template>
    <div class="quiz  mx-5">
      <div class="row" style="padding-top:30px">
        <div class="timer">
            <quiz-timer v-bind:seconds="timer" v-on:expired="$emit('expired')" :key="questionNumber"/>
        </div>
      </div>
      <div class="row">
        <div class="question">
          <span> {{ questionNumber }}. {{ question.text }}</span>
          <sub> ({{question.point}} pont)</sub>
        </div>
      </div>
      <div class="row">
        <div v-bind:class="{ 'col-md-3': question.pic }">
          <img class="figure" v-if="question.pic" :src="question.pic" alt="figure"/>
        </div>
        <div v-bind:class="{ 'col-md-9': question.pic, 'container' : !question.pic }">
          <div v-if="question.type === 'tf'">
            <ul class="answers">
                <li>
                  <div class="answer_container">
                      <input class="form-check-input" name="currentQuestion" id="falseAnswer" :value="1" type="radio" v-model="answer">
                      <span class="answer">Igen</span>
                  </div>
                </li>
                <li>
                  <div class="answer_container">
                      <input class="form-check-input" name="currentQuestion" id="trueAnswer" :value="0" type="radio" v-model="answer">
                      <span class="answer">Nem</span>
                  </div>
                </li>
            </ul>
          </div>
          <div v-if="question.type === 'sc'">
            <ul class="answers">
              <li v-for="(scanswer,index) in question.answers" :key="index">
                <div class="answer_container">
                  <input class="form-check-input" :id="'answer'+index" name="currentQuestion" :value="index" type="radio" v-model="answer">
                  <span class="answer">{{ scanswer }}</span>
                </div>
              </li>
            </ul>
          </div>
          <div v-if="question.type === 'mc'">
            <ul class="answers">
              <li v-for="(mcanswer,index) in question.answers" :key="index">
                <div class="answer_container">
                  <input class="form-check-input" :id="'answer'+index" name="currentQuestion" :value="index" type="checkbox" v-model="answers">
                  <span class="answer">{{ mcanswer }}</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="send-answer">
        <n-button class="btn btn-primary" @click="submitAnswer">Tovább</n-button>
      </div>
    </div>
  </div>
</template>
<script>
import QuizTimer from './QuizTimer';
import { Button } from '@/components';
export default {
  name : 'question',
  props:{
    'timer' : Number,
    'question' : Object,
    'questionNumber' : Number
  },
  components: {
    [Button.name]: Button,
    [QuizTimer.name]:QuizTimer
  },
  data() {
    return {
      answer:'',
      answers:[]
    }
  },
	methods:{
		submitAnswer:function() {
			this.$emit('answer', { answer: this.question.type == 'mc' ? this.answers.join(';') : this.answer});
      this.answer = '';
      this.answers = [];
    }
  }
};
</script>
<style>
</style>