<template>
  <div class="quiz">
    <h5>{{correct}} helyes válasz a(z) {{questionNumber}} kérdésekből. Eredményed: {{percentage}}%.</h5>
  </div>
</template>
<script>
import { Button } from '@/components';
export default {
  name : 'quiz-result',
    props: ['correct', 'questionNumber']
  ,
  components: {
    [Button.name]: Button
  },
  data() {
    return {
    }
  },
  computed: {
    percentage : function(){
       return ((this.correct / this.questionNumber)*100).toFixed(2);
    }
  }
};
</script>
<style>
</style>