<template>
    <div class="quiz-timer">
      <h1 >{{time}}</h1>
    </div>
</template>
<script>
export default {
  name : 'quiz-timer',
    props: {
      seconds : Number
  },
  components: {
  },
  data() {
    return {
      time : this.seconds
    }
  },
  methods: {
    startCounter : async function (){
      while(this.time > 0){
        this.time -= 1;
        await new Promise(resolve => setTimeout(resolve, 1000));
      }

      this.$emit('expired');
    }
  },
  mounted: function () {
    this.startCounter()
  }
};
</script>
<style>
</style>