<template>
  <div class="quiz-page">
    <div v-if="introStage" class="quiz-intro">
      <h1>Üdvözöllek a {{title}} quizben.</h1>
      <p>
        Sok szerencsét!
      </p>
      <n-button class="btn btn-primary" @click="startQuiz">Kezdés!</n-button>
    </div>
    <div v-if="questionStage">
      <question :question="questions[currentQuestion]" v-on:answer="handleAnswer" :questionNumber="currentQuestion + 1" v-on:expired="onTimeExpired" :timer="60"/>
    </div>
    <div v-if="resultsStage">
      <quiz-result :correct="correct" :questionNumber="questions.length"/>
    </div>
    <div v-if="questionStage">
        <div class="quiz-progress">
          <n-progress :height="5" :animated="true" type="warning" :value="progress" :label="progressText" show-value />
        </div>
    </div>
  </div>
</template>
<script>
import { Button, Progress } from '@/components';
import Question from './Question';
import QuizResult from './QuizResult';
export default {
  name : 'quiz',
  props: ['quizData'],
  components: { 
    [Button.name]: Button,
    [Progress.name]: Progress,
    [Question.name]: Question,
    [QuizResult.name]: QuizResult
  },
  data() {
    return {
      introStage:false,
      questionStage:false,
      resultsStage:false,
      title:'',
      questions:[],
      currentQuestion:0,
      answers:[],
      correct:0
    }
  },
  created() {
    fetch(this.quizData)
    .then(res => res.json())
    .then(res => {
      this.title = res.title;
      this.questions = res.questions;
      this.introStage = true;
    })
  },
  methods:{
    startQuiz() {
      this.introStage = false;
      this.questionStage = true;
    },
    handleAnswer(e) {
      this.answers[this.currentQuestion]=e.answer;
      if((this.currentQuestion+1) === this.questions.length) {
        this.handleResults();
        this.questionStage = false;
        this.resultsStage = true;
      } else {
        this.currentQuestion++;
      }
    },
    handleResults() {
      this.questions.forEach((a, index) => {
        if(this.answers[index] == a.answer) this.correct++;        
      });
    },
    onTimeExpired: function () {
      this.handleAnswer({answer : null});
    }
  },
   computed: {
    progress: function () {
      var value =  Math.round(((this.currentQuestion + 1)/this.questions.length) * 100);
      return value;
    },
    progressText: function () {
      return (this.currentQuestion + 1).toString() + "/" +this.questions.length;
    }
  }
};
</script>
<style>
.quiz-page{
  background-color: #0078A8;
  color:white;
  width:90%;
}

.quiz-intro{
  margin:1rem;
  padding:5rem;
}

.quiz{
    margin:1rem;
}
</style>