<template>
  <div class="calendar-container">
    <vue-cal :time="true" :disable-views="['years', 'year', 'month']" clickToNavigate todayButton :events="events" locale="hu"/>
  </div>
</template>
<script>
import { } from '@/components';
import VueCal from 'vue-cal'
import 'vue-cal/dist/vuecal.css'
import 'vue-cal/dist/i18n/hu.js'

export default {
  name: 'calendar',
    props:{
  },
  components:{
    VueCal
  },
  data (){
    return {
      events: [
        {
          start: '2020-02-22 13:00',
          end: '2020-02-22 15:00',
          title: "Vezetés gyakorlat",
          content: "Palm Micheal"
        },
        {
          start: '2020-02-22 10:00',
          end: '2020-02-22 12:00',
          title: "Elsősegély",
          content: "Dr. House"
        }
      ]
    }
  },
  computed:{
  },
  methods:{
  }
};
</script>
<style>

.calendar-container{
  background-color: white;
}

.vuecal__menu, .vuecal__cell-events-count {background-color:rgba(3, 64, 90);}
.vuecal__menu button {border-bottom-color: #fff;color: #fff;}
.vuecal__menu button.active {background-color: transparent; outline-color: rgba(255, 255, 255, 0.1); outline-style: none}
.vuecal__title-bar {background-color: rgba(3, 64, 90);}
.vuecal__cell.today, .vuecal__cell.current {background-color: rgba(3, 64, 90, 0.136);}
.vuecal:not(.vuecal--day-view) .vuecal__cell.selected {background-color: rgba(3, 64, 90, 0.109);}
.vuecal__cell.selected:before {border-color: rgba(3, 64, 90, 0.428);}
.vuecal__header button { color:white;}
.vuecal__event {background-color: rgba(3, 64, 90, 0.129);}
</style>
