<template>
  <div class="row p-5">
    <div class="col-12 pb-3">
      <label><strong>E-mail cím modosítása</strong></label>
    </div>
    <div class="row text-left pl-5">
      <div class="col">
        <label>Új E-mail cím:</label><br/>
        <input class="text-left" type="text" v-model="newEmail" placeholder="sample@mail.hu"/>
      </div>
    </div>
    <div class="col-12 text-right">
      <n-button class="p-2 ml-2" type="warning" size="sm">E-mail cím modosítása</n-button>
      <alert v-if="validateEmail" type="danger">Hibás e-mail cím formátum!</alert>
    </div>
    <div class="col-12">
      <hr class="my-4 hr-splitter">
    </div>
    <div class="col-12 pb-3">
      <label><strong>Jelszó modosítása</strong></label>
    </div>
    <div class="row text-left pl-5">
      <div class="col">
        <label>Új jelszó:</label><br/>
        <input class="text-left" type="password" v-model="newPass" placeholder=""/>
      </div>
      <div class="col">
        <label>Új jelszó megerősítése:</label><br/>
        <input class="text-left" type="password" v-model="reNewPass" placeholder=""/>
      </div>
    </div>
    <div class="col-12 text-right">
      <n-button class="p-2 ml-2" type="warning" size="sm">Jelszó megváltoztatása</n-button>
      <alert v-if="validatePassword" type="danger">A megadott jelszavaknak meg kell egyeznie valamint minimum 8 karaktert kell tartalmaznia!</alert>
    </div>
  </div>
</template>
<script>
import { Button, Alert } from '@/components';

export default {
  name: 'email-password',
    props:{
  },
  components:{
    [Button.name]: Button,
    Alert
  },
  data (){
    return {
      newEmail: "",
      newPass: "",
      reNewPass: ""
    }
  },
  computed:{
    validatePassword: function(){
      return this.newPass != '' && (this.newPass !== this.reNewPass || this.newPass.length < 8);
    },
    validateEmail: function() {
      return this.newEmail != '' &&  !(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(this.newEmail));
    }
  },
  methods:{
  }
};
</script>
<style>
.hr-splitter{
  border-top: 1px ridge white;
}
</style>
