<template>
  <div>
    <div>
      Pénzügyek
    </div>
  </div>
</template>
<script>
import { } from '@/components';

export default {
  name: 'finance',
    props:{
  },
  components:{
  },
  data (){
    return {
    }
  },
  computed:{
  },
  methods:{
  }
};
</script>
<style>
</style>