<template>
  <div class="row mr-3 ml-3">
    <div class="col-12 header">
      <div class="row align-items-center justify-content-start">
        <div class="col-lg-3 col-sm-12">
          <h5>Drivalo@Mail</h5>
        </div>
        <div class="col-auto">
          <a class="badge badge-warning p-3 mb-3" href="" @click.prevent="writeMail = true"><i class="far fa-paper-plane"></i> Levél írása</a>
        </div>
        <div class="col search text-right align-self-end">
                  <fg-input
                  placeholder="Keresés az üzenetekben..."
                  addon-left-icon="now-ui-icons ui-1_zoom-bold"
                  inputClasses="search-input">
        </fg-input>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-12 menu-bar mb-sm-3">
      <div class="row mt-3">
        <div class="col-lg-12 col-sm-auto"><i class="fas fa-inbox"></i><a href="" @click.prevent="showInbox">Beérkező levelek({{newMessages}})</a></div>
        <div class="col-lg-12 col-sm-auto"><i class="fas fa-shipping-fast"></i><a href="" @click.prevent="showSent">Elküldött</a></div>
        <div class="col-lg-12 col-sm-auto"><i class="fas fa-trash"></i><a href="" @click.prevent="showDeleted">Törölt elemek</a></div>
      </div>
    </div>
    <div v-if="writeMail" class="col-lg-9 col-sm-12 messages">
      <div class="row mt-2 mb-1 ml-5 mr-5 mt-3">
        <div class="col-12">
          <label>Címzett felhasználó neve:</label><br/>
          <input type="text" v-model="mail.to" style="width:100%; text-align:left; padding:0.5rem;"/>
        </div>
        <div class="col-12 mt-2">
          <label>Tárgy:</label><br/>
          <input type="text" v-model="mail.subject" style="width:100%; text-align:left;padding:0.5rem;"/>
        </div>
        <div class="col-12 mt-2">
          <label>Üzenet:</label><br/>
          <textarea row="10" v-model="mail.content" style="width:100%; height:10rem; padding:1rem;"/>
          </div>
        <div class="col-12 text-center mr-3"><a href="" class="badge badge-info" @click.prevent="sendMail"><i class="far fa-paper-plane"></i> Küldés</a></div>
      </div>
    </div>
    <div v-else-if="openedMessage == null" class="col-lg-9 col-sm-12 messages">
      <div class="row m-header">
        <div class="col-1"><a href="" @click.prevent="deleteMessages"><i class="far fa-trash-alt"/></a></div>
        <div class="col-1"></div>
        <div class="col">Feladó</div>
        <div class="col">Tárgy</div>
        <div class="col">Dátum</div>
      </div>
      <div v-for="message in shownMessages" :key="message.id" >
        <div class="row message align-items-center py-2">
          <div class="col-1">
            <input type="checkbox" name="selection" v-model="selectedMessages" :value="message.id">
          </div>
          <div class="col-1">
            <i :class="!message.seen ?'fas fa-envelope':'fas fa-envelope-open'" class="mr-2"/>
          </div>
          <div class="col" @click.prevent="readMessage(message)">{{message.from}}</div>
          <div class="col" @click.prevent="readMessage(message)">{{message.subject}}</div>
          <div class="col" @click.prevent="readMessage(message)">{{message.date.toLocaleString("hu")}}</div>
        </div>
      </div>
    </div>
    <div v-else class="col-lg-9 col-sm-12 messages">
      <div class="row mt-3 my-2">
        <div class="col">
          <label>Feladó:</label>
          <span> {{openedMessage.from}}</span></div>
        <div class="col text-right">
          <span class="">{{openedMessage.date.toLocaleString("hu")}}</span>
        </div>
      <div class="col text-right">
        <a href="" @click.prevent="closeMessage">
          <div class="col-auto badge badge-danger">X</div>
        </a>
      </div>
        <div class="col-12">
          <label>Címzett:</label>
          <span> {{openedMessage.to}}</span>
        </div>
        <div class="col-12">
          <label>Tárgy:</label>
          <span> {{openedMessage.subject}}</span>
        </div>
        <div class="col-12 ">
          <div class="card">
            <div class="card-body">
              <q class="card-text">{{openedMessage.content}}</q>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class ="col-12 footer text-center">footer</div>
  </div>
</template>
<script>
import { Button, Modal, FormGroupInput } from '@/components';

export default {
  name: 'messages',
    props:{
  },
  components:{
    Button,
    Modal,
    [FormGroupInput.name] : FormGroupInput,
  },
  data (){
    return {
      messages:[{
        id: 1,
        to: "me",
        from:"Bob",
        subject: "lession",
        content: "Hi... asdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsda",
        priority: 1,
        date: new Date(),
        seen: false
      },
      {
        id: 2,
        to: "me",
        from:"Bob2",
        subject: "lession",
        content: "Hi... asdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsda",
        priority: 1,
        date: new Date(),
        seen: false
      },
      {
        id: 3,
        to: "me",
        from:"Bob3",
        subject: "lession",
        content: "Hi... asdasdsdaasdasdsasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdaasdasdsdadaasdasdsdaasdasdsdaasdasdsda",
        priority: 1,
        date: new Date(),
        seen: true
      }],
      shownMessages: [],
      openedMessage: null,
      selectedMessages: [],
      searchTerm: "",
      sentMessages: [],
      deletedMessageIds: [],
      writeMail : false,
      mail : {
        from: "me",
        to : "",
        subject : "",
        content : "",
        priority: 1,
        date : new Date(),
        seen: false
      }
    }
  },
  computed:{
    newMessages: function(){
      return this.inbox.filter(m => !m.seen).length;
    },
    deletedMessages: function () {
      return this.messages.filter(m => this.deletedMessageIds.includes(m.id));
    },
    inbox: function () {
      return this.messages.filter(m => !this.deletedMessageIds.includes(m.id));
    }
  },
  methods:{
    readMessage(message){
      this.openedMessage = message;
      message.seen = true;
    },
    closeMessage(){
      this.openedMessage = null;
    },
    deleteMessages(){
      if(this.selectedMessages.every(val => this.deletedMessageIds.includes(val))){
        this.messages = this.messages.filter(m => !this.selectedMessages.includes(m.id));
        this.showDeleted();
        return;
      }

      this.deletedMessageIds.push(...this.selectedMessages);
      this.showInbox();
    },
    showInbox(){
      this.shownMessages = this.inbox;
      this.reset();
    },
    showDeleted(){
      this.shownMessages = this.deletedMessages;
      this.reset();
    },
    showSent(){
      this.shownMessages = this.sentMessages;
      this.reset();
    },
    reset(){
      this.selectedMessages = [];
      this.writeMail = false;
      this.openedMessage = null;
      this.mail = {
        from: "me",
        to : "",
        subject : "",
        content : "",
        priority: 1,
        date : new Date(),
        seen: false
      };
    },
    sendMail(){
      this.sentMessages.push({...this.mail});
      this.showInbox();
    }
  },
  created(){
      this.showInbox();
  }
};

</script>
<style>

.messages-page{
  background-color: rgba(3, 64, 90);
}
.messages {
  height: 30rem;
  background-color: rgb(241, 241, 241);
  color: #0078A8;
}
.m-header{
  background-color: rgba(3, 64, 90);
  color:white;
  text-align: start;
}

.header{
  min-height: 3rem;
  background-color: rgba(3, 64, 90);
  color:white;
}

.menu-bar{
  background-color: rgba(3, 64, 90);
  color:white;
}

.footer{
  background-color: rgba(3, 64, 90);
  color:white;
}

.message:hover{
  background-color: #0078A8;
  color:white;
  cursor: pointer;
}
</style>