<template>
  <div>
    <div>
      notifications
    </div>
  </div>
</template>
<script>
import { Button } from '@/components';

export default {
  name: 'notifications',
    props:{
  },
  components:{
    Button
  },
  data (){
    return {
    }
  },
  computed:{
  },
  methods:{
  }
};
</script>
<style>
</style>