<template>
  <div class="row p-5">
    <div class="col-12">
      <label><strong>E-mail értesítések beállításai</strong></label>
    </div>
    <div v-for="setting in emailSettings" :key="setting.id" class="m-3 badge badge-info">
      <div class="col-12">
        <label>{{setting.description}}</label>
      </div>
      <div class="row m-2">
        <div class="col-auto">
          <input type="radio" :checked="setting.value == true" :name="setting.id" :value="true"><label>Kérek értesítést</label><br/>
        </div>
        <div class="col-auto">
          <input type="radio" :checked="setting.value == false" :name="setting.id" :value="false"><label>Nem kérek értesítést</label><br/>
        </div>
      </div>
    </div>
    <div class="col-12 text-right">
      <n-button class="p-2 ml-2" type="warning" size="sm">Mentés</n-button>
    </div>
    <div class="col-12">
      <hr class="my-4 hr-splitter">
    </div>
    <div class="col-12">
      <label><strong>Adatvédelmi beállítások</strong></label>
    </div>
    <div class="m-3 badge badge-info" v-for="n in 5" :key="n + 'a'" style="list-style=none">
      <div class="col-12">
        <label>Adatvédelmi beállítás.</label>
      </div>
      <div class="row">
        <div class="col-auto m-2">
          <input type="radio" :name="n" :value="true"> <label>Hozzájárulok</label>
        </div>
        <div class="col-auto m-2">
          <input type="radio" :name="n" :value="false"> <label>Nem járulok hozzá.</label>
        </div>
      </div>
    </div>
    <div class="col-12 text-right">
      <n-button class="p-2 ml-2" type="warning" size="sm">Mentés</n-button>
    </div>
  </div>
</template>
<script>
import { Button } from '@/components';

export default {
  name: 'privacy-policy',
    props:{
  },
  components:{
    [Button.name]:Button
  },
  data (){
    return {
      emailSettings : []
    }
  },
  computed:{
  },
  methods:{
  },
  created(){
    fetch("https://api.myjson.com/bins/62pyw")
    .then(res => res.json())
    .then(res => this.emailSettings = res);
  }
};
</script>
<style>
</style>
