<template>
  <div class="row">
    <div class="col-2"><img class="img-fluid rounded" src="img/instructor.jpg"/></div>
    <div class="row">
      <div class="col-auto">Sample Boy</div>
      <div class="col-auto">Szeged</div>
      <div class="col-12">Tanuló</div>
    </div>
    <div class="row">
      <div class="col-auto">4,7 <span class="y-star">★★★★★</span></div>
    </div>
  </div>
</template>
<script>
import { Button } from '@/components';

export default {
  name: 'profile-data',
    props:{
  },
  components:{
    Button
  },
  data (){
    return {
    }
  },
  computed:{
  },
  methods:{
  }
};
</script>
<style>
</style>
