<template>
  <div class="row">
    <div class="col-12 pt-5 pl-5">
      <label><strong>Profilkép modosítása</strong></label>
    </div> 
    <div class="col-5 pl-5">
      <div class="row">
        <div class="col-12">
          <img src="img/instructor.jpg"/>
        </div>
        <div class="col-12 p-3">
          <input type="file" name="profile-img" />
        </div>
      </div>
    </div>
    <div class="col-12 text-right">
      <n-button class="p-2 ml-2" type="warning" size="sm">Mentés</n-button>
    </div>
    <div class="col-12">
      <hr class="my-4 hr-splitter">
    </div>
    <div class="col-12 pl-5">
      <label><strong>Személyes adatatok</strong></label>
    </div> 
    <div class="row pl-5 text-center">
      <div class="col m-2">
        <label>Titulus:</label><br/>
        <input class="text-left p-2" type="text" v-model="title" placeholder="Dr."/>
      </div>
      <div class="col m-2">
        <label>Családnév:</label><br/>
        <input class="text-left p-2" type="text" v-model="firstName" placeholder="Minta"/>
      </div>
      <div class="col m-2">
        <label>Keresztnév:</label><br/>
        <input class="text-left p-2" type="text" v-model="lastName" placeholder="Béla"/>
      </div>
      <div class="col m-2">
        <label>Város:</label><br/>
        <input class="text-left p-2" type="text" v-model="city" placeholder="Szeged"/>
      </div>
      <div class="col m-2">
        <label>Születési dátum:</label><br/>
        <input class="text-left p-2" type="date" v-model="birthDay"/>
      </div>
      <div class="col m-2">
        <label>Foglalkozás:</label><br/>
        <input class="text-left p-2" type="text" v-model="profession" placeholder=""/>
      </div>
      <div class="col m-2">
        <label>Nyelv:</label><br/>
        <input class="text-left p-2" type="text" v-model="language" placeholder="Magyar"/>
      </div>
    </div>
    <div class="col-12 text-right">
      <n-button class="p-2 ml-2" type="warning" size="sm">Mentés</n-button>
    </div>
    <div class="col-12">
      <hr class="my-4 hr-splitter">
    </div>
    <div class="col-12 pl-5">
      <label><strong>Elérhetőségek</strong></label>
    </div> 
    <div class="row pl-5 text-center">
      <div class="col m-2">
        <label>Telefonszám 1:</label><br/>
        <input class="text-left p-2" type="text" v-model="telNumber1" placeholder="+3611234567"/>
      </div>
      <div class="col m-2">
        <label>Telefonszám 2:</label><br/>
        <input class="text-left p-2" type="text" v-model="telNumber2" placeholder="+3611234567"/>
      </div>
      <div class="col m-2">
        <label>Facebook azonosító:</label><br/>
        <input class="text-left p-2" type="text" v-model="facebookId" placeholder="123456789"/>
      </div>
    </div>
    <div class="col-12 text-right">
      <n-button class="p-2 ml-2" type="warning" size="sm">Mentés</n-button>
    </div>
  </div>
</template>
<script>
import { Button } from '@/components';

export default {
  name: 'profile-data-settings',
    props:{
  },
  components:{
    [Button.name]: Button,
  },
  data (){
    return {
      title: "",
      firstName: "",
      lastName: "",
      city: "",
      birthDay: null,
      profession: "",
      telNumber1:"",
      telNumber2:"",
      language:"",
      facebookId:""
    }
  },
  computed:{
  },
  methods:{
  }
};
</script>
<style>
</style>
