<template>
  <div>
    <tabs centered>
      <tab-pane :label="hangingRatingsLabel">
        <div class="row m-3" >
            <div class="col-6 text-center">
              <span class="badge badge-info">Felhasználó név</span>
            </div>
            <div class="col-6 text-center">
              <span class="badge badge-info">Dátum</span>
            </div> 
        </div>
        <a href="" @click.prevent="" v-for="rating in hangingRatings" :key="rating.id">
          <div class="row m-3" >
            <div class="col-6 text-center">
              <span>{{rating.user}} <i class="fas fa-pen"></i></span>
            </div>
            <div class="col-6 text-center">
              <span>{{new Date(rating.date).toLocaleString("hu")}}</span>
            </div> 
          </div>
         </a>
      </tab-pane>
      <tab-pane :label="myRatingsLabel">
      </tab-pane>
      <tab-pane :label="givenRatingsLabel">
      </tab-pane>
    </tabs>
  </div>
</template>
<script>
import { Button, TabPane, Tabs, Collapse, CollapseItem } from '@/components';

export default {
  name: 'ratings',
    props:{
  },
  components:{
    Button,
    TabPane,
    Tabs,
    Collapse,
    CollapseItem
  },
  data (){
    return {
      hangingRatings: [],
      myRatings: [],
      givenRatings: []
    }
  },
  computed:{
    hangingRatingsLabel: function(){
      return 'Függő értékelések ' + '(' + this.hangingRatings.length + ')';
    },
    myRatingsLabel: function(){
      return 'Kapott értékelések ' + '(' + this.myRatings.length + ')';
    },
    givenRatingsLabel: function(){
      return 'Adott értékelések ' + '(' + this.givenRatings.length + ')';
    }
  },
  methods:{
  },
  created(){
    fetch("https://api.myjson.com/bins/inecc")
    .then(res => res.json())
    .then(res => this.hangingRatings = res);

    fetch("https://api.myjson.com/bins/x79g4")
    .then(res => res.json())
    .then(res => this.myRatings = res);

    fetch("https://api.myjson.com/bins/ksk4c")
    .then(res => res.json())
    .then(res => this.givenRatings = res);
  }
};
</script>
<style>
</style>
