<template>
  <div>
    <tabs centered>
      <tab-pane>
        <span slot="label">
          <i class="fas fa-user-edit"/> Adataim
        </span>
        <profile-data-settings/>
      </tab-pane>
      <tab-pane>
        <span slot="label">
          <i class="fas fa-sliders-h"/> Adatkezelés és értesítések
        </span>
        <privacy-policy/>
      </tab-pane>
      <tab-pane>
        <span slot="label">
          <i class="fas fa-lock"/> E-mail cím és jelszó
        </span>
        <email-password/>
      </tab-pane>
    </tabs>
  </div>
</template>
<script>
import { Button, TabPane, Tabs } from '@/components';
import ProfileDataSettings from './ProfileDataSettings';
import PrivacyPolicy from './PrivacyPolicy';
import EmailPassword from './EmailPassword';

export default {
  name: 'settings',
    props:{
  },
  components:{
    TabPane,
    Button,
    Tabs,
    ProfileDataSettings,
    PrivacyPolicy,
    EmailPassword
  },
  data (){
    return {
    }
  },
  computed:{
  },
  methods:{
  }
};
</script>
<style>
</style>
