<template>
  <tabs type="primary" class="profile-tabs" tabContentClasses="profile-tab" centered >
      <tab-pane>
        <span slot="label">
          <i class="fas fa-map-marked-alt"/> Bejárt útvonalak
        </span>
        <div class="row justify-content-left align-items-center">
          <div class="col-12 map-container">
            <l-map
              style="height: 100%; width: 100%"
              :zoom="zoom"
              :center="center"
              :options="mapOptions"
              @update:zoom="zoomUpdated"
              @update:center="centerUpdated"
              @update:bounds="boundsUpdated"
            >
              <l-tile-layer :url="url" />
              <l-geo-json v-for="(geojson, index) in geoJsonsToShow" :key="index" :geojson="geojson" />
              <l-control position="topleft" >
                <n-button type="neutral" @click="reCenter" icon round size="sm" >
                  <i class="fas fa-bullseye" style="color: #0078A8;"/>
                </n-button>
              </l-control>
            </l-map>
          </div>
          <div v-show="geoJsonsToShow.length > 0" class="col-12 p-3 text-center">
            <badge type="warning" class="m-1" v-for="(geoJson, index) in geoJsonsToShow" :key="index">Id:{{geoJson.features[0].properties['lessionId']}}</badge>
          </div>
          <div class="col-12">
            <div class="row justify-content-between">
              <div class="col-auto">
                <n-checkbox  v-model="showAllRoutes" @input="showAll">Összes</n-checkbox>
              </div>
              <div class="col-auto">
                <n-button type="neutral" @click="next" block>Következő</n-button>
              </div>
            </div>
          </div>
        </div>
      </tab-pane>
      <tab-pane>
        <span slot="label">
          <i class="fas fa-chart-area"/> Tab2
        </span>
        <div>
          tab2
        </div>
      </tab-pane>
      <tab-pane>
        <span slot="label">
          <i class="fas fa-layer-group"/> Tab3
        </span>
        <div>
          tab3
        </div>
      </tab-pane>
    </tabs>
</template>
<script>
import { Tabs, TabPane, Button, Badge, Checkbox } from '@/components';
import { LMap, LTileLayer, LMarker, LGeoJson, LControl } from 'vue2-leaflet';
import { latLng, Icon } from "leaflet";
import 'leaflet/dist/leaflet.css';

delete Icon.Default.prototype._getIconUrl;
Icon.Default.mergeOptions({
  iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),
  iconUrl: require('leaflet/dist/images/marker-icon.png'),
  shadowUrl: require('leaflet/dist/images/marker-shadow.png'),
});

export default {
  name: 'statistics',
  props:{
  },
  components:{
    [Tabs.name]:Tabs,
    [TabPane.name]:TabPane,
    LMap,
    LTileLayer,
    LMarker,
    LGeoJson,
    Icon,
    LControl,
    [Button.name]: Button,
    Badge,
    [Checkbox.name]: Checkbox
  },
  data (){
    return {
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      zoom: 13,
      center: latLng(46.25658864739251, 20.137510299682617),
      bounds: null,
      mapOptions: {
        zoomSnap: 0.5
      },
      geoJsons: [],
      geoJsonsToShow: [],
      actualGeoJson: 0,
      showAllRoutes: false
    }
  },
  computed:{
  },
  methods:{
    zoomUpdated (zoom) {
      this.zoom = zoom;
    },
    centerUpdated (center) {
      this.center = center;

    },
    boundsUpdated (bounds) {
      this.bounds = bounds;
    },
    reCenter (){
      this.center = latLng(46.25658864739251, 20.137510299682617);
    },
    showAll (){
      if(this.showAllRoutes){
        this.geoJsonsToShow = this.geoJsons;  
      }
      else{
        this.first();
      } 
    },
    next (){
      this.showAllRoutes = false;

      if(this.geoJsons.length > 0){
        this.move(this.actualGeoJson % this.geoJsons.length);
      }

      this.actualGeoJson = this.actualGeoJson == this.geoJsons.length - 1 ? 0 : this.actualGeoJson + 1;
    },
    first (){
      this.actualGeoJson = 0;
      this.move(this.actualGeoJson);
    },
    move(index){
        let json = this.geoJsons[index];
        this.geoJsonsToShow = [ json ];
        this.centerSelectedLession(json);
    },
    centerSelectedLession (json){
      let cords = json.features[0].geometry.coordinates;
      this.center = latLng(cords[1], cords[0]);
    }
  },
  watch:{
  },
  created(){
    fetch("json/geoJSONs.json")
    .then(res => res.json())
    .then(res => {
      this.geoJsons = res;
      this.next();
    })
  },
  updated() {
    window.dispatchEvent(new Event('resize'));
}
};
</script>
<style>

.map-container{
  height: 20rem;
}

.leaflet-top{
  margin-top:3rem;
}

.leaflet-container a{
  color: #0078A8!important;
}

.form-check .form-check-sign::after{
  color  :white !important;
}

</style>