<template>
<div class="starter-page profile-page">
  <tabs type="primary" class="profile-tabs" tabContentClasses="profile-tab" centered>
    <tab-pane>
      <span slot="label">
        <i class="fas fa-user-clock"/> Adatlapom
      </span>
      <profile-data/>
    </tab-pane>
    <tab-pane>
      <span slot="label">
        <i class="fas fa-star"/> Értékelések
      </span>
      <ratings/>
    </tab-pane>
    <tab-pane>
      <span slot="label">
        <i class="fas fa-chart-line"/> Statisztikák
      </span>
      <statistics/>
    </tab-pane>
    <tab-pane>
      <span slot="label">
        <i class="far fa-calendar-alt"/> Naptár
      </span>
    <calendar/>
    </tab-pane>
    <tab-pane>
      <span slot="label">
        <i class="fas fa-dollar-sign"/> Pénzügyek
      </span>
      <finance/>
    </tab-pane>
    <tab-pane>
      <span slot="label">
        <i class="fas fa-mail-bulk"/> Üzenetek
      </span>
      <messages/>
    </tab-pane>
    <tab-pane>
      <span slot="label">
        <i class="fas fa-user-cog"/> Beállítások
      </span>
      <settings/>
    </tab-pane>
  </tabs>
</div>
</template>
<script>
import { Tabs, TabPane } from '@/components';
import Settings from './components/Settings';
import ProfileData from './components/ProfileData';
import Ratings from './components/Ratings';
import Calendar from './components/Calendar';
import Notifications from './components/Notifications';
import Finance from './components/Finance';
import Messages from './components/Messages';
import Statistics from './components/Statistics';

export default {
  name: 'profile',
  bodyClass: 'profile-page',
  components: {
    Tabs,
    TabPane,
    Settings,
    ProfileData,
    Ratings,
    Calendar,
    Notifications,
    Finance,
    Messages,
    Statistics
  },
  data (){
    return{
    }
  },
  computed :{
  },
  methods:{
  }
};
</script>
<style>
.starter-page {
  min-height: calc(100vh - 5rem);
  padding-top: 5rem;
  background-color: rgba(3, 64, 90);
}
.profile-page{
  background-color: rgba(3, 64, 90);
}

.profile-content{
  padding-top: 1rem;
}

.profile-tabs > div > .nav-tabs > .nav-item {
  align-content: center;
}

div > .nav-tabs > .nav-item > .nav-link {
 color: white;
 border-radius: 0;
}

.profile-tabs > div > .nav-tabs {
 background-color: rgba(3, 64, 90);
}

div > .nav-tabs > .nav-item > .nav-link.active {
  color: rgb(255, 174, 0);
}

div > .nav-tabs:not(.nav-tabs-neutral) > .nav-item > .nav-link.active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.profile-tab{
  background-color:rgba(3, 64, 90);
  color:white;
  padding:15px;
}
</style>
